<!DOCTYPE html>
<html>
	<head>
		<title>Buy Textbooks</title>
		<link href='./styles/base.css' type='text/css' rel='stylesheet' />
		<link href='./styles/layout.css' type='text/css' rel='stylesheet' />
		<link href='./styles/skeleton.css' type='text/css' rel='stylesheet' />
	</head>
	<body>
		<div class="super-container full-width">
			<div class="container">			
				<header>
					<div class="sixteen columns">
						<!-- Branding -->
						<div class="eight columns alpha">
							<h1 id="logo" style="margin-top: 20px; margin-bottom: 10px;">
								<a href="/"><img src="images/logo.png" alt="logo" /></a>
							</h1>
						</div>
					</div>
				</header>
				<hr class="large" style="margin:10px;">
			</div>
		</div>
		<div class="container">
			<div class="three columns sidebar">
				<nav>
					<ul>
						<li><strong><a href="/buy">Buy Textbooks</a></strong></li>
						<li><strong><a href="/sell">Sell Textbooks</a></strong></li>
						<li><strong><a href="/">About TextEx</a></strong></li>
					</ul>
				</nav>
			</div>
			<div class="thirteen columns">
				<form method="POST" action="/buy">	
					<h3>Search Textbooks</h3>
					
					<label for="regularInput">Department (Abreviation)</label>
					<input type="text" name="department" />

					<label  for="regularInput">Course Number</label>
					<input type="text" name="course_number" />

					<br>
		
					<button type="submit">Search</button>
				</form>
			</div>
		</div><!-- container -->
	</body>
</html>