<!DOCTYPE html>
<html>
	<head>
		<title>Tufts Textbook Exchange</title>
		<link href='./styles/base.css' type='text/css' rel='stylesheet' />
		<link href='./styles/layout.css' type='text/css' rel='stylesheet' />
		<link href='./styles/skeleton.css' type='text/css' rel='stylesheet' />
	</head>
	<body>
		<div class="super-container full-width">
			<div class="container">			
				<header>
					<div class="sixteen columns">
						<div class="eight columns alpha">
							<h1 id="logo" style="margin-top: 20px; margin-bottom: 10px;">
								<a href="/"><img src="images/logo.png" alt="logo" /></a>
							</h1>
						</div>
					</div>
				</header>
				<hr class="large" style="margin:10px;">
			</div>
		</div>
		<div class="container">
			<div class="three columns sidebar">
				<nav>
					<ul>
						<li><strong><a href="/buy">Buy Textbooks</a></strong></li>
						<li><strong><a href="/sell">Sell Textbooks</a></strong></li>
						<li><strong><a href="/">About TextEx</a></strong></li>

					</ul>
				</nav>
			</div>
			<br />
			<h1>About Us</h1>
			<hr style="margin:10px;">
			<p>We are Tufts Textbook Exchange. This app is used to facilitate textbook exchanges between tufts students.</p>

		</div><!-- container -->
	</body>
</html>