<!DOCTYPE html>
<html>
	<head>
		<title>  </title>
		<link href='./StyleSheets/base.css' type='text/css' rel='stylesheet' />
		<link href='./StyleSheets/layout.css' type='text/css' rel='stylesheet' />
		<link href='./StyleSheets/skeleton.css' type='text/css' rel='stylesheet' />
	</head>
	<body>
		<center>
		<table  border='1' callpadding='2' cellspacing='0' style='text-align:center'>
		<tr>
			<td colspan='3'> <h3> Add Textbook Information </h3> </td>
		</tr>
		<tr>
			<td> <input placeholder='Department' type='text' id='dept' value='' size='33' /> </td>
			<td> <input placeholder='Course Number' type='text' id='course' value='' size='33' /> </td>
			<td> <input placeholder='Price' type='text' id='price' value='' size='33' /> </td>
		</tr>
		<tr>
			<td> <input placeholder='Details (i.e. Condition, Highlighting, Access Code, etc.)' type='text' id='details' value='' size='100' /> </td>
			<td colspan> <input placeholder='E-mail Address' type='text' id='email' value='' size='50' /> </td>
			<td> 
				<form method='post' action='/sell' class="button">
					<input type='submit' value=' Submit '>
				</form>
			</td>
		</tr>
		</table>
		</center>
	</body>
</html>
